@model ApiResponseViewModel
@{
    ViewData["Title"] = "ShowOtherStatusCodesFromApi";
}

<h2>Error! See response from API below</h2>

<p>@Model.StatusCode</p>
<p>@Model.Content</p>
<p>@Model.Message</p>