<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <applicationSettings>
    <SmartCity911.Properties.Settings>
      <setting name="" serializeAs="String">
        <value></value>
      </setting>
    </SmartCity911.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <add key="APIKey" value="d8xhCmtEhpiAAD8TA8o1XJlnF" />
    <add key="APISecret" value="pIWUnfEKdJTtPsdMZ3cxVv1pNrRzsFrdffprtSznShVh3OGTUR" />
    <add key="AccessToken" value="983017295353188353-K92gi9Bj7RJu0n8o8v0CTGaeeKhMZjm" />
    <add key="AccessTokenSecret" value="Dtee5PhpusAQzMBEWMa34vuoOWttunNWwa6wMPZB17J7d" />
  </appSettings>
</configuration>